#game-container {
  display: flex;
}
#game-board {
  height: var(--board-size);
  width: var(--board-size);
  margin: calc(var(--board-size) / 40) auto;
}
#board {
  margin: auto 0;
  border: calc(var(--board-size) / 20) solid var(--kb-main-color);
  background-color: var(--kb-main-color);
  border-radius: calc(var(--board-size) / 16);
  height: var(--board-size);
  display: grid;
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
}
.board-row {
  display: grid;
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  line-height: 0;
}
.square {
  width: 100%;
  height: 100%;
  line-height: 0;
  border-radius: calc(var(--board-size) / 27);
  padding: 0;
  font-size: calc(var(--board-size) / 4);
  border: 1vmin solid var(--kb-main-color);
  background-color: var(--kb-main-color-5);
  color: var(--kb-main-color);
}
.square:focus, summary:focus, #botplay-checkbox:focus, #util > * {
  outline: none;
}
.square:hover, .moves:hover{
  cursor: pointer;
  border-radius: calc(var(--board-size) / 40);
}
#botplay-checkbox + .slider::before{
  content: "🤝";
}
#botplay-checkbox:checked + .slider::before{
  content: "🤖";
}
#util {
  display: flex;
}
#util button {
  border: 0;
  background: var(--kb-main-color-5);
  height: 34px;
  width: max-content;
  border-radius: 34px;
  transition:.1s;
}
#util button:hover {
  background: var(--kb-main-color);
}
@media screen and ( max-width: 815px) {
}

@media screen and (max-height: 150vmin) {
}
